<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>

    <link rel="shortcut icon"
          href="http://aleksa.lukac.rs/img/logo3.png" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="http://aleksa.lukac.rs/t2/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
</head>
<body>

<ul>
    <li style="float:left"><font size="5"><i><img src="http://www.aleksa.lukac.rs/img/logotop.png" width="50px"/></i></font></li>
    <li><a th:href="${'/login-logout'}">Login / Logout</a></li>
    <li><a th:href="${'/articles'}">Articles</a></li>
    <li><a th:href="${'/my-profile'}">My profile</a></li>

</ul>

<center>
    <div style="background-color:white;">


        <form th:action="@{/save-user}" th:object="${user}" method="post">
            <label for="firstName">First name:</label>
            <input id="firstName" type="text" th:field="*{firstName}"/>
            <br>
            <label for="lastName">Last name:</label>
            <input id="lastName" type="text" th:field="*{lastName}"/>
            <br>
            <label for="username">Username:</label>
            <input id="username" type="text" th:field="*{username}"/>
            <br>
            <label for="password">Password:</label>
            <input id="password" type="password" th:field="*{password}"/>
            <br>
            <label for="role">Role:</label>
            <select type="text" th:field="*{role}">
                <option value="DELIVERER">DELIVERER</option>
                <option value="CUSTOMER">CUSTOMER</option>

            </select>
            <br>
            <!--    <input id="role" type="text" th:field="*{role}"/>-->

            <label for="telephone">Telephone:</label>
            <input id="telephone" type="text" th:field="*{telephone}"/>
            <br>
            <label for="email">E-mail:</label>
            <input id="email" type="text" th:field="*{email}"/>
            <br>
            <label for="address">Address:</label>
            <input id="address" type="text" th:field="*{address}"/>
            <br>
            <input type="submit">
            <br>
            <div th:if="${#bools.isTrue(check)}">
                <div>
                    Incorrect or incomplete registration
                </div>
            </div>
        </form>
    </div>

</center>

</body>
</html>