<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin profile</title>

    <link rel="shortcut icon"
          href="http://aleksa.lukac.rs/img/logo3.png" />
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="http://aleksa.lukac.rs/t2/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
</head>
<body>

<ul>
    <li style="float:left"><font size="5"><i><img src="http://www.aleksa.lukac.rs/img/logotop.png" width="50px"/></i></font></li>
    <li><a th:href="${'/login-logout'}">Login / Logout</a></li>
    <li><a th:href="${'/articles'}">Articles</a></li>
    <li><a th:href="${'/my-profile'}">My profile</a></li>

</ul>

<div class="bg">
    <center>

        <div style="background-color:white; width: auto;">


            <h2 style="text-align:center">Admin Profile</h2>
            <div class="card">
                <table>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Username</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>

                    <!--img alt="User" src="https://i.imgur.com/aVBnP8R.png"/-->
                    <tr>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.address}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.role}"></td>
                    </tr>
                </table>
                <!-- <p class="title" th:text="${employee.position}"></p> -->
                <br>
            </div>

            <form method="GET" th:action="@{/logout}">
                <button type="submit" name="submit" value="value" class="link-button">LogOut</button>
            </form>
            <a th:href="${'/users'}">See all users</a>

        </div>

    </center>
</div>



<!-- <a id="employeeDisplayLink" th:href="${'/employees'}" style="text-align: center;">Back</a> -->

</body>
</html>