<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Articles</title>

    <link rel="shortcut icon"
          href="http://aleksa.lukac.rs/img/logo3.png" />
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">



    <link rel="stylesheet" type="text/css" href="http://aleksa.lukac.rs/t2/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <!-- <link rel="stylesheet" th:href="@{/css/employees.css}"/> -->
</head>
<body>

<ul>
    <li style="float:left"><font size="5"><i><img src="http://www.aleksa.lukac.rs/img/logotop.png" width="50px"/></i></font></li>
    <li><a th:href="${'/login-logout'}">Login / Logout</a></li>
    <li><a th:href="${'/articles'}">Articles</a></li>
    <li><a th:href="${'/my-profile'}">My profile</a></li>

</ul>

<center>
    <div style="background-color:white; width: auto;">


        <h1>Articles</h1>

        <form th:action="@{/searchArticles}" th:object="${searchDTO}" method="post">
            <label for="param1">Search criteria 1:</label>
            <input id="param1" type="text" th:field="*{param1}"/>
            <br>
            <label for="param2">Search criteria 2:</label>
            <input id="param2" type="text" th:field="*{param2}"/>
            <br>
            <label for="sort">Sort by price</label>
            <select type="text" th:field="*{sortByPrice}">
                <option value="-1">ASCENDING</option>
                <option value="1">DESCENDING</option>
                <option value="0">DON'T SORT</option>

            </select>
            <!--input id = "sort" type="checkbox" name="active" th:field="${sortByPrice}"  th:checked="${true}" /-->
            <br>
            <!--input id = "sort"
                    type="checkbox"
                    name="myBooleanVariable"
                    th:checked="${sortByPrice}"/>
            <br-->

            <input class="pure-button" type="submit">
        </form>

        <!--button onclick="location.href = '/add-user'">Add new user</button-->
        <br><br>
        <table id="articles">
            <tr>
                <th>Id</th>
                <th>Article name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Image</th>
                <th></th>
            </tr>
            <tr th:each="article : ${articles}">
                <td th:text="${article.id}"></td>
                <td th:text="${article.name}"></td>
                <td th:text="${article.description}"></td>
                <td th:text="${article.price}"></td>
                <td th:text="${article.category}"></td>
                <td> <img th:src="@{'http://aleksa.lukac.rs/photos/' + ${article.id} + '.png'}" height = 100px></td>
                <td>
                <form method="POST" th:action="@{/add-to-cart/(id=${article.id})}">
                    <button type="submit" name="submit" value="value" class="pure-button">Add to cart</button>
                </form>
                </td>
                <td th:if="${(user != null) && user.role.toString() == 'CUSTOMER'}">
                    <form method="POST" th:action="@{/add-to-favorite/(id=${article.id})}">
                        <button type="submit" name="submit" value="value" class="pure-button">Add to favorite articles</button>
                    </form>
                </td>
                <td th:if="${article.onSale == false && (user != null) && user.role.toString() == 'ADMIN'} ">
                    <form method="POST" th:action="@{/set-on-sale/(id=${article.id})}">
                        <button type="submit" name="submit" value="value" class="pure-button">Add on sale</button>
                    </form>
                </td>
                <td th:if="${(user != null) && article.onSale == true && user.role.toString() == 'ADMIN'}">
                    <form method="POST" th:action="@{/set-on-sale/(id=${article.id})}">
                        <button type="submit" name="submit" value="value" class="pure-button">Delete from sale</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

</center>


</body>
</html>
