<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer profile</title>

    <link rel="shortcut icon"
          href="http://aleksa.lukac.rs/img/logo3.png" />
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="http://aleksa.lukac.rs/t2/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <!-- <link rel="stylesheet" th:href="@{/css/employees.css}"/> -->
</head>
<body>

<ul>
    <li style="float:left"><font size="5"><i><img src="http://www.aleksa.lukac.rs/img/logotop.png" width="50px"/></i></font></li>
    <li><a th:href="${'/login-logout'}">Login / Logout</a></li>
    <li><a th:href="${'/articles'}">Articles</a></li>
    <li><a th:href="${'/my-profile'}">My profile</a></li>

</ul>

<center>
    <div style="background-color:white; width: auto;">

        <h2 style="text-align:center">Customer Profile</h2>
        <div class="card">
            <table>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Username</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Role</th>

                </tr>
                <tr>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.address}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.role}"></td>
                </tr>
            </table>
            <!-- <p class="title" th:text="${employee.position}"></p> -->
            <br>
        </div>

        <div class="card">
            <table>
                <tr>
                    <th>Favorite articles</th>

                </tr>
                <tr>
                    <tr th:each="article : ${favArticles}">
                        <td> <img th:src="@{'http://aleksa.lukac.rs/photos/' + ${article.id} + '.png'}" height = 100px></td>
                        <td >
                            <form method="POST" th:action="@{/delete-from-favorite/(id=${article.id})}">
                                <button type="submit" name="submit" value="value" class="link-button">Delete from favorite articles</button>
                            </form>
                        </td>
                </tr>
            </table>
            <!-- <p class="title" th:text="${employee.position}"></p> -->
            <br>
        </div>

        <div class="card">
            <table>
                <tr>
                    <th>Articles in cart</th>

                </tr>
                <tr>
                <tr th:if="${cartArticles != null}">
                    <tr th:each="article : ${cartArticles}">
                        <td> <img th:src="@{'http://aleksa.lukac.rs/photos/' + ${article.id} + '.png'}" height = 100px></td>
                        <td >
                            <form method="POST" th:action="@{/delete-from-cart/(id=${article.id})}">
                                <button type="submit" name="submit" value="value" class="link-button">Delete from cart</button>
                            </form>
                        </td>
                    </tr>
                </tr>
                CENA:
                <tr th:text="${price}"/>
            </table>
            <!-- <p class="title" th:text="${employee.position}"></p> -->
            <br>
        </div>
        <td >
            <form method="POST" th:action="@{/buy-cart/(id=${user.id})}">
                <button type="submit" name="submit" value="value" class="link-button">Order!</button>
            </form>
        </td>
        <hr><br>
        <div class="card">
            <table>
                <tr>
                    <th>Previous carts</th>

                </tr>
                <tr>
                    <tr th:each="cart : ${carts}">

                <tr th:each="cart : ${carts}">
                    <div th:if="${cart.price > 0}">
                        STATUS:
                        <td th:text="${cart.status}"><br><hr></td>
                        <td th:if="${cart.status.toString() != 'DELIVERED' && cart.status.toString() != 'CANCELED'}">
                            <form method="POST" th:action="@{/changeStatusToCanceled/(id=${cart.id})}">
                                <button type="submit" name="submit" value="value" class="pure-button">Cancel order</button>
                            </form>
                        </td>
                    </div>
                    <td><hr></td>
                </tr>
                        <!--tr th:text="${cart.id}"-->
                        <!--tr th:each="article : ${cart.articles}">
                            <td> <img th:src="@{'http://aleksa.lukac.rs/photos/' + ${article.id} + '.png'}" height = 100px></td>
                            <td >
                                <form method="POST" th:action="@{/delete-from-cart/(id=${article.id})}">
                                    <button type="submit" name="submit" value="value" class="link-button">Delete from cart</button>
                                </form>
                            </td>
                        </tr-->
                        <td><hr></td>
                    </tr>
            </table>
            <!-- <p class="title" th:text="${employee.position}"></p> -->
            <br>
        </div>
        <!-- <a id="employeeDisplayLink" th:href="${'/employees'}" style="text-align: center;">Back</a> -->


    </div>

</center>
</body>
</html>
