<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>

    <link rel="shortcut icon"
          href="http://aleksa.lukac.rs/img/logo3.png" />
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="http://aleksa.lukac.rs/t2/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
</head>
<body>

<ul>
    <li style="float:left"><font size="5"><i><img src="http://www.aleksa.lukac.rs/img/logotop.png" width="50px"/></i></font></li>
    <li><a th:href="${'/login-logout'}">Login / Logout</a></li>
    <li><a th:href="${'/articles'}">Articles</a></li>
    <li><a th:href="${'/my-profile'}">My profile</a></li>

</ul>

<div class="bg">
    <center>
        <div style="background-color:white; width: auto;">

            <h1>Welcome</h1>
            <h2>This is home page</h2>
            <a class="pure-button" th:href="${'/articles'}">View all articles!</a>
            <br>
            <br>
            <br>
            <a class="pure-button" th:href="${'/my-profile'}">View your profile!</a>
            <br><br>
            <hr>
            <a class="pure-button" th:href="${'/login'}">Login</a>
            <h2>Don't have an account? Register now!</h2>
            <a class="pure-button" th:href="${'/add-user'}">Register</a>
        </div><!-- add-user -->

    </center>
</div>

<!--div class="pure-u-1">
    <img class="pure-img" src="https://s3.amazonaws.com/ooomf-com-files/wjNV6gWuQkqeuH8txHc9_sylwiabartyzel_unsplash_tatry_03.jpg" alt="By Sylwia Bartyzel from unsplash.com">
</div-->
</body>
</html>